---
pagination:
    data: shaderList.shaders
    size: 1
    alias: shader
permalink: "shaders/{{ shader.outName }}.html"
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_parent">

    <title>{{shader.name}}</title>

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/shader.css"/>
  </head>
  <body>
    <div class='tabbed-content'>
      <ul class='tabs'>
        {% for ext in shader.extensions %}
        <li class='tab'>
          {% if loop.first == true %}
          <input type='radio' id='{{ext}}' name='shader-tabs' checked>
          {% else %}
          <input type='radio' id='{{ext}}' name='shader-tabs'>
          {% endif %}
          <label for='{{ext}}'>{{ext}}</label>
          <div class='content {{ext}}'>
            {% if ext == 'md' %}
              {% markdown %}
              {%- include '../../' + shader.url + '.' + ext -%}
              {% endmarkdown %}
            {% else %}
              {% highlight highlightLanguage[ext] %}
              {% include '../../' + shader.url + '.' + ext %}
              {% endhighlight %}
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <script type='module' src='../assets/shader.js'></script>
  </body>
</html>