---
title: Rosetta
---
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="stylesheet" href="assets/main.css"/>
  </head>
  <body>
    <nav>
      <h1>
        {{title}}
        <div class='expand' onclick='toggleNav()'></div>
      </h1>
      <div>
        <input id='filter' type='text' placeholder="Filter..."></input>
      </div>
      <div class='nav-menu'>
        {% for category, files in shaderList.categories %}
        <div>
          <hr/>
          <h2>{{category}}</h2>
          <ul class='shader-list'>
            {% for filename, file in files %}
            <li class='shader' onclick='loadShader("shaders/{{file.outName}}")'>
              <label>{{file.name}}</label>
              <ul class='tags' >
                {% for ext in file.extensions %}
                <li>{{ext}}</li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </nav>
    <div class='editors'>
      <iframe class='editor' src='shaders/README.html'></iframe>
      <iframe class='editor' src='shaders/LICENSE.html'></iframe>
    </div>

    <script src='assets/main.js'></script>
  </body>
</html>
